@import '../../scss/variables', '../../scss/mixins';

.navbar{
    background-color: $cardNavBgColor;
    display: flex;
    justify-content: space-evenly;

    a{
        color: black;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        font-weight: 600;
        // text-shadow: 0px 0px 3px white;
        &:hover{
            background-color: $backgroundColor;
            color: white;
            font-weight: 600;
        }
    }
}

@include media-xsm{
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

@include media-sm{
    .navbar{
        flex-direction: row;
    }
}